// Account start

.account{
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(3,1fr);
    align-items: center;
//    gap: 20px;
   padding: 1rem 1.7rem;
   padding-top: 1.7rem;

    &__card{
        // padding: 1rem 0;
        // height: 120px;
            &.account__card-custom{
                margin-left: auto;
            }
        ul{
            @include flexCenter(unset);
            li{
                span{
                    display: inline-block;
                    height: 55px;
                    width: 55px;
                    line-height: 60px;
                    font-size: 22px;
                    border-radius: 10px;
                    font-weight: 700;
                    margin-right: 25px;
                    background-color: rgb(90, 211, 185);
                    text-align: center;
                    &.spend{
                        background-color: rgb(253, 206, 162);
                    }
                    &.goal-month{
                        background-color: rgb(236, 234, 240);
                    }
                    &.spend-goal{
                        background-color: rgb(162, 207, 253);
                    }
                }

                p{
                    color: rgb(121, 119, 119);
                    font-size: 14px;
                }

                h5{
                    font-weight: 700;
                    padding-top: 5px;
                }
            }

        }
        &.visa__card{
            padding: 1rem ;
          grid-column: 2/3;
          grid-row: 1/-1;
          background-color: rgb(255, 204, 126);
          border-radius: 20px;
          position: relative;
          z-index: 1;
          box-shadow: -1px 12px 25px -8px rgba(255,204,126,0.84);
          -webkit-box-shadow: -1px 12px 25px -8px rgba(255,204,126,0.84);
          -moz-box-shadow: -1px 12px 25px -8px rgba(255,204,126,0.84);
        //   height: 180px;
      
          ul{
              @include flexCenter(space-between);
              li{
                  p{
                      font-size: 12px;
                      font-weight: 600;
                      color: #000;
                  }
                  h2{
                      font-style: italic;
                      font-size: 28px;
                      font-weight:900;
                  }
                  h4{
                      font-weight: 700;
                      font-size: 16px;
                      padding-top: 5px;
                  }
              }
          }

          .account_exp{
            @include flexCenter(unset);
            li{
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
                p{
                    color: rgb(121, 119, 119);
                    &:last-child{
                        color: #000;
                        font-weight: 700;
                    }
                }
            }
          }
          &::after{
              position: absolute;
              content: '';
              bottom: 0;
              left: 0;
              height: 70%;
              width: 65%;
              background-color: rgb(253, 187, 89);
              border-radius: 0% 100% 0% 0% / 0% 100% 34% 51%;
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
            //   -webkit-clip-path: circle(73.7% at 31% 100%);
            //   clip-path: circle(73.7% at 31% 100%);
              z-index: -1;
          }

          .account_number{
            font-weight: 700;
            padding: .5rem 0;
              
          }
        }

    }
}

// Account end


// Summary start

.summary{


    &__tab{
  
            border-top: 1px solid rgb(228, 228, 228);
            border-bottom: 1px solid rgb(228, 228, 228);
                padding: 1rem 1.7rem;
          
        
    }

    .activity__summary{
        padding: 1rem 1.7rem;
        .activity{
            padding: 1rem 1.7rem;
            // padding-bottom: 0;
            // border-right: 1px solid rgb(228, 228, 228);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 30px;
            background-color: #fff;
            border-radius: 25px;
            &__list{
                @include flexCenter(space-between);
                // box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                // margin: 30px 0;
                margin-top: 30px;
                &-name{
                   @include flexCenter(none);
                   span{
                       display: inline-block;
                       height: 45px;
                       width: 45px;
                       border-radius: 8px;
                       line-height: 48px;
                       text-align: center;
                       font-size: 20px;
                       font-weight: 900;
                       background-color: #2a00d41c;
                       color: #2b00d4 !important;
                       margin-right: 20px;
                   }
                   p{
                    color: rgb(121, 119, 119);
                    font-weight: 700;
                   }
                }
                span{
                    color: #000;
                }
            }
        }

    }
}

//Summary end


//sidebar start
.sidebar{
    background-color: #f6f5fdc1;
    padding: 1.5rem 1.7rem;

    &__content{
        &-card{
            height: 130px;
            padding: 1rem;
            width: 100%;
            border-radius: 10px;
            background-color: #2b00d4;
            position: relative;
            z-index: 1;
            &::after{
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                height: 100%;
                width: 45%;
                background-color: #3e15e2;
                z-index: -1;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                -webkit-clip-path: circle(71.1% at 85% 48%);
                clip-path: circle(71.1% at 85% 48%);
            }
            &__info{
                color: #fff;
                @include flexCenter(space-between);
                .amount{
                    h4{
                        padding-top: 10px;
                        font-weight: 700;
                    }
                }
            }

            &__transaction{
                width: 100%;
                transform: translateY(22px);
                text-align: center;
                a{
                    text-decoration: none;
                    margin: 0 5px;
                    display: inline-block;
                    height: 45px;
                    width: 120px;
                    line-height: 45px;
                    background-color: #fff;
                    color: rgb(27, 27, 27);
                    border-radius: 10px;
                    font-weight: 700;
                    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                }
            }
        }

        .favourite{
            width: 100%;
            margin-top: 4rem;
            // padding: 1rem;
            &__top{
                @include flexCenter(space-between);
                padding-bottom: 20px;
                p{
                    font-size: 16px;
                    font-weight: 700;
                    color: rgb(27, 27, 27);
                }
                a{
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 700;
                    color: #2b00d4;
                }
            }
            &-cards{
                @include flexCenter(space-between);
                &__block{
                    // height: 130px;
                    width: 100%;
                    background-color: #fff;
                    border-radius: 15px;
                    margin-right: 15px;
                    padding: 1rem;
                    // &:last-child{
                    //     margin-right: 0;
                    // }
                    .currency{
                        display: flex;
                        align-items: center;
                        &__icon{
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            line-height: 45px;
                            text-align: center;
                            border-radius: 50%;
                            background-color: #000;
                            color: #fff;
                        }

                        &__info{
                            margin-left: 15px;
                            p{
                                font-size: 14px;
                                font-weight: 700;
                                color: rgb(27, 27, 27);
                                &:last-child{
                                    color: rgba(27, 27, 27, 0.582);
                                    font-weight: 400;
                                }
                            }
                        }

                       
                    }
                    img{
                       height: 60px;
                       width: 100%;
                       margin: 1.5rem 0;
                    }

                    .stock__info{
                        @include flexCenter(space-between);
                        p{
                            font-size: 14px;
                            font-weight: 700;
                            color: rgb(27, 27, 27);
                            &:last-child{
                                color: rgb(21, 226, 158);
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }

        .prices{
            margin-top: 2rem;
            p{
                font-size: 16px;
                font-weight: 700;
                color: rgb(27, 27, 27);
            }

            &__card{
                @include flexCenter(space-between);
                &__brand{
                    margin-top: 25px;
                        @include flexCenter(none);
                        i{
                          &.litecoin{
                              background-color: #2b00d4;
                          }
                          &.etherum{
                              background-color: #f36d39;
                          }
                          &.bitcoin{
                              background-color: #000;
                          }
                                display: inline-block;
                                height: 40px;
                                width: 40px;
                                line-height: 45px;
                                text-align: center;
                                border-radius: 50%;
                                background-color: rgb(60, 183, 173);
                                color: #fff;
                                margin-right: 20px;
                         
                        }

                        h4{
                            font-size: 14px;
                            font-weight: 700;
                            color: rgb(27, 27, 27);
                            p{
                                font-weight: 400;
                                color: rgb(123, 121, 121);
                                padding-top: 3px;
                            }
                        }
                }
                &__value{
                    @include flexCenter(space-between);
                    img{
                        height: 40px;
                        width: 100px;
                    }

                    .rate{
                        p{
                            font-size: 14px;
                            font-weight: 700;
                            color: rgb(27, 27, 27);
                        }
                        span{
                            font-size: 12px;
                            color: rgb(12, 194, 79);
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
//sidebar end













&-choose{
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #2b00d4;

    &__box{
        position: relative;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        overflow: hidden;
        transition: 0.5s;
        transition-delay: 0.5s;
        .user-image{
            position: relative;
            min-width: 60px;
            height: 60px;
            background: white;
            border-radius: 50%;
            overflow: hidden;
            border: 10px solid black;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .username{
            font-size: 1.2rem;
            white-space: nowrap;
            color: gray;
        }
    }
}